@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb-list">
                <li><a href="https://localhost:44389/">Home</a></li>
                <li>Contacts</li>
            </ul>
        </div>
    </section>