@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <footer>
        <div class="socialmedia">
            <a href="https://www.bing.com/search?q=facebook&qs=n&form=QBRE&msbsrank=10_11__0&sp=-1&ghc=1&pq=facebook&sc=11-8&sk=&cvid=9DC8D772480E48C39D80E9DF5E079D97&ghsh=0&ghacc=0&ghpl="><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.bing.com/search?q=Instagram&qs=n&form=QBRE&sp=-1&pq=instagram&sc=10-9&sk=&cvid=AAD0CD81BB5E4C6290556ADBE1D27E49&ghsh=0&ghacc=0&ghpl="><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.bing.com/search?q=Twitter&qs=n&form=QBRE&msbsrank=10_13_Person_3&sp=-1&pq=twit&sc=13-4&sk=&cvid=F45B23CFA5AC47E880E539ABDB20E0A4&ghsh=0&ghacc=0&ghpl="><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.bing.com/search?q=Google&qs=n&form=QBRE&sp=-1&pq=go&sc=10-2&sk=&cvid=E429F750405D412791211A4ABFEE67E5&ghsh=0&ghacc=0&ghpl="><i class="fa-brands fa-google"></i></a>
            <a href="https://www.bing.com/search?q=LinkedIn&qs=n&form=QBRE&sp=-1&pq=linkedin&sc=10-8&sk=&cvid=42A6F215F42E4AF1B460CE524181D6FE&ghsh=0&ghacc=0&ghpl="><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>© @DateTime.Now.Year Fixxo. All Rights Reserved</div>
    </footer>