@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <footer>
        <div class="socialmedia">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>© @DateTime.Now.Year Fixxo. All Rights Reserved</div>
    </footer>