@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


        <nav class="__navbar container ">
            <div class="__logo">
                Fixxo.
            </div>
            <div class="__nav-links">
                <a class="__active" href="/#/">Home</a>
                <a href="/contacts/">Contacts</a>
            </div>
            <div class="__nav-icon-links">
                <a href="#"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-theme"></span><i class="fa-regular fa-bag-shopping"></i></a>
            </div>
        </nav>

