@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


        <nav class="__navbar container ">
            <div class="__logo">
                Fixxo.
            </div>
            <div class="__nav-links">
                <a class="__active" href="https://localhost:44389/">Home</a>
                <a href="https://localhost:44389/contact/">Contacts</a>
            </div>
            <div class="__nav-icon-links">
                <a href="#"><i class="fa-regular fa-magnifying-glass"></i></a>
                <a href="#"><i class="fa-regular fa-repeat"></i></a>
                <a href="#"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-theme"></span><i class="fa-regular fa-heart"></i></a>
                <a href="#"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-theme"></span><i class="fa-regular fa-bag-shopping"></i></a>
            </div>
        </nav>
